html,
      body {
        height: 100%;
        margin: 0;
      }
#basemapStyles {
        background-color: white;
        border-radius: 5px;
        padding: 10px;
        width: 250px;
      }
      #directions-container {
        max-height: 50vh;
        width: 25vw;
        overflow-y: auto;
      }

      #directions-notice {
        max-width: 25vw;
      }